h1 {
    background: orange;
    width: 500px;
    height: 100px;
}

h2 {
    background: paleturquoise;
}

span {
    background: red;
    height: 100px;
    display: inline-block;
}

#coba {
    display: none;
}